@import "mixins";
@import "variables";

html {
  box-sizing: border-box;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}
